:root {
  --white: #fff;
  --txt-main-black: #211926;
  --txt-black-shade-1: #4e4e4e;
  --txt-grey: #939393;
  --txt-grey-hover: #939393cc;
  --txt-purple: #6a398e;
  --txt-purple_shade-1: #8c66a7;
  --txt-light-purple: #a588ba;
  --txt-nav-black: #4e4e4e;
  --bg-light-grey: #f7f7f7;
  --bg-grey: #b3b3b3;
  --bg-orange: #fe715f;
  --bg-orange-shade-1: #ff705f;
  --bg-purple-btn: #8860a4;
  --bg-purpe-ligth: #c3b0d1;
  --bg-main-green: #4dcfc3;
  --bg-info-bar-green: #34c8bb;
  --bg-deep-purple: #794d98;
  --bg-purple-shade-1: #fdfaff;
  --bg-purple-shade-2: #6b398e;
  --bg-purple-shade-3: #f7f5f9;
  --bg-purple-shade-4: #d8d4db;
  --bg-purple-shade-5: #ac90bf;
  --bg-green-shade-1: #00baaa;
  --bg-grey-shade-1: #dbdde1;
  --bg-grey-shade-2: #858585;
  --ham-grey: #6c6c6c;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.slider-galler-container {
  max-width: 1560px;
  margin: auto;
}

.main-container {
  max-width: 1400px;
  margin: auto;
}
.medium-container {
  max-width: 1100px;
  margin: auto;
}
.lg-container {
  max-width: 1660px;
  margin: auto;
}

.container-1600 {
  max-width: 1600px;
  margin: auto;
}
.container-1300 {
  max-width: 1300px;
  margin: auto;
}
.container-920 {
  max-width: 920px;
  margin: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: none;
}
a.white {
  color: var(--white);
}

.cursor-pointer {
  cursor: pointer;
}

/* Absolute position */
.top-20 {
  top: 20px;
}

/* Font */

.ibm-serif {
  font-family: "IBM Plex Serif", serif;
}

/* Font sizes */

.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}

.fs-48 {
  font-size: 48px;
}
.fs-54 {
  font-size: 54px;
}

.fs-56 {
  font-size: 56px;
}
.fs-64 {
  font-size: 64px;
}

.fs-60 {
  font-size: 60px;
}
/* Font weight */
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

/* Font colors and hover */

.black-nav-txt-color {
  color: var(--txt-nav-black);
}
.black-nav-txt-color:hover {
  color: var(--txt-purple_shade-1) !important;
}
.white-txt-color {
  color: var(--white);
}

.black-txt-color {
  color: var(--txt-main-black);
}

.black-txt-shade-1 {
  color: var(--txt-black-shade-1);
}

a.black-txt-shade-1:hover {
  color: var(--txt-purple_shade-1) !important;
}

.green-txt-shade-1 {
  color: var(--bg-green-shade-1);
}
.grey-txt-color {
  color: var(--txt-grey);
}

.grey-txt-color-hover:hover {
  color: var(--txt-grey-hover);
}

.grey-shade-2-txt {
  color: var(--bg-grey-shade-2);
}

.light-purple-txt-color {
  color: var(--txt-light-purple);
}

a.white-txt {
  color: var(--white);
}

a.white-txt:hover {
  color: var(--white) !important;
}

/* Link colors */

a.purple-link-hover-opacity-8 {
  color: var(--txt-purple);
}

a.purple-link-hover-opacity-8:hover {
  opacity: 0.8 !important;
}
a.grey-txt-color:hover {
  color: var(--txt-grey);
  opacity: 0.8;
}
a.grey-shade-2-hover-purple {
  color: var(--bg-grey-shade-2);
}

a.grey-shade-2-hover-purple:hover {
  color: var(--txt-purple);
}

a.green-shade-1-hover-opacity-8 {
  color: var(--bg-green-shade-1);
}
a.green-shade-1-hover-opacity-8:hover {
  opacity: 0.8;
}

/* Backgrounds */

.light-grey {
  background: var(--bg-light-grey);
}

.orange {
  background: var(--bg-orange);
}

.orange-shade-1 {
  background: var(--bg-orange-shade-1);
}

.main-green {
  background: var(--bg-main-green);
}

.bar-green {
  background: var(--bg-info-bar-green);
}

.purple-light {
  background: var(--bg-purpe-ligth);
}

.purple {
  background: var(--bg-purple-btn);
}

.opacity-8:hover {
  opacity: 0.8;
}
.opacity-9:hover {
  opacity: 0.9;
}

.purple-shade-1 {
  background: var(--bg-purple-shade-1);
}
.purple-shade-2 {
  background: var(--bg-purple-shade-2);
}
.purple-shade-3 {
  background: var(--bg-purple-shade-3);
}
.purple-shade-4 {
  background: var(--bg-purple-shade-4);
}

/* Borders */
.border-10 {
  border-radius: 10px !important;
}
.border-15 {
  border-radius: 15px !important;
}

.border-top-15 {
  border-radius: 15px 15px 0 0;
}
.border-bottom-15 {
  border-radius: 0 0 15px 15px;
}
.border-left-15 {
  border-radius: 15px 0 0 15px;
}
.border-rigth-15 {
  border-radius: 0 15px 15px 0;
}

.border-15-no-left {
  border-radius: 15px 15px 15px 0;
}
.border-15-no-right {
  border-radius: 15px 15px 0 15px;
}

.border-15-top-right {
  border-radius: 0 15px 0 0;
}

.border-light-grey {
  border-color: var(--bg-light-grey);
}
.border-white {
  border-color: var(--white);
}

.border-purple {
  border-color: var(--bg-purple-btn) !important;
}

.border-orange-shade-1 {
  border-color: var(--bg-orange-shade-1) !important;
}
.border-deep-purple {
  border-color: var(--bg-deep-purple) !important;
}

.border-purple-shade-4 {
  border-color: var(-bg-purple-shade-4) !important;
}
.border-green-shade-1 {
  border-color: var(--bg-green-shade-1) !important;
}

.border-width-1 {
  border-width: 1px !important;
}

.border-width-2 {
  border-width: 2px !important;
}
.border-width-3 {
  border-width: 3px !important;
}
.border-width-4 {
  border-width: 4px !important;
}
.border-width-6 {
  border-width: 6px !important;
}
/* Paddings */

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.pt-60 {
  padding-top: 60px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-100 {
  padding-bottom: 100px;
}

/* Margins */

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}

/* Max width */

.max-w-25 {
  max-width: 25px;
}
.max-w-40 {
  max-width: 40px;
}
.max-w-46 {
  max-width: 46px;
}
.max-w-50 {
  max-width: 50px;
}
.max-w-72 {
  max-width: 72px;
}

.max-w-140 {
  max-width: 140px;
}
.max-w-170 {
  max-width: 170px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-240 {
  max-width: 240px;
}
.max-w-260 {
  max-width: 260px;
}
.max-w-280 {
  max-width: 280px;
}
.max-w-300 {
  max-width: 300px;
}
.max-w-350 {
  max-width: 350px;
}
.max-w-390 {
  max-width: 390px;
}
.max-w-420 {
  max-width: 420px;
}
.max-w-440 {
  max-width: 440px;
}
.max-w-475 {
  max-width: 475px;
}

.max-w-550 {
  max-width: 550px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-635 {
  max-width: 635px;
}
.max-w-680 {
  max-width: 680px;
}
.max-w-732 {
  max-width: 732px;
}

.max-w-800 {
  max-width: 800px;
}
.max-w-850 {
  max-width: 850px;
}
.max-w-943 {
  max-width: 943px;
}

/* Min height */

.min-h-60 {
  min-height: 60px;
}
.min-h-65 {
  min-height: 65px;
}
.min-h-80 {
  min-height: 80px;
}
.min-h-84 {
  min-height: 84px;
}
.min-h-270 {
  min-height: 270px;
}
.min-h-300 {
  min-height: 300px;
}
.min-h-354 {
  min-height: 354px;
}

.min-h-400 {
  min-height: 400px;
}

.min-h-495 {
  min-height: 495px;
}

.min-h-590 {
  min-height: 590px;
}

.min-h-680 {
  min-height: 680px;
}

/* Max height */

.max-h-300 {
  max-height: 300px;
}
.max-h-495 {
  max-height: 495px;
}

.max-h-650 {
  max-height: 650px;
}

/* Height */

.h-600 {
  height: 600px;
}

.h-912 {
  height: 912px;
}
/* Z index */
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-justify-center {
  justify-items: center;
}

.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.gap-60 {
  gap: 60px;
}

.column-gap-20 {
  column-gap: 10px;
}
.row-gap-50 {
  row-gap: 50px;
}

/* Images */
.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Buttons */

.main-btn {
  border-radius: 10px;
  padding: 12px 5px;
  text-align: center;
}

.small-btn {
  padding: 8px 4px;
  text-align: center;
}

.transparent-btn {
  background: transparent;
}

.white-hover-btn:hover {
  background: var(--white);
  color: var(--txt-nav-black) !important;
}

.outline-white-btn {
  border: 2px solid var(--white);
  color: var(--white);
}

.outline-white-btn:hover {
  background: var(--white);
  color: var(--txt-nav-black) !important;
}

.outline-green-btn {
  border: 2px solid var(--bg-green-shade-1);
  color: var(--bg-green-shade-1);
}
.outline-green-btn:hover {
  background: var(--bg-green-shade-1);
  color: var(--white) !important;
}

.outline-black-btn {
  border: 1px solid var(--txt-main-black);
  color: var(--txt-main-black);
}
.outline-black-btn:hover {
  border-color: var(--bg-purple-btn);
  background: var(--bg-purple-btn);
  color: var(--white) !important;
}

.outline-purple-btn {
  border: 1px solid var(--txt-purple);
  color: var(--txt-purple);
}
.outline-purple-btn:hover {
  border: 1px solid var(--txt-purple);
  background: var(--txt-purple);
  color: var(--white) !important;
}

.purple-btn {
  background: var(--bg-purple-btn);
}

.purple-btn:hover {
  background: var(--bg-deep-purple);
}

.purple-btn:disabled {
  cursor: not-allowed;
  background: var(--bg-purple-shade-5);
}
.purple-btn:disabled {
  cursor: not-allowed;
  background: var(--bg-purple-shade-5);
}

.purple-light-btn {
  background: var(--bg-purple-shade-5);
}
.purple-light-btn:hover {
  background: var(--bg-purple-btn);
}
.purple-light-btn.active {
  background: var(--bg-purple-btn);
}
.purple-light-btn:focus {
  color: var(--white);
}

.white-btn-txt {
  color: var(--white);
}
.white-btn-txt:hover {
  color: var(--white) !important;
}

/* Inputs */

.grey-input {
  border: 2px solid var(--bg-grey-shade-1);
  border-radius: 10px;
  padding: 12px 22px;
  width: 100%;
  flex: 1;
}
.quiz-grey-input {
  border: 2px solid var(--bg-grey-shade-1);
  border-radius: 10px;
  padding: 12px 22px;
}

.grey-input:focus-visible {
  outline: none;
  border-color: var(--txt-purple);
}

.checkbox-round {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.checkbox-square {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.checkbox-square-purple {
  border-color: var(--bg-grey-shade-1);
}
.checkbox-square-purple:checked {
  background-color: var(--txt-purple);
  border-color: var(--txt-main-black);
}

.checkbox-round-orange {
  border-color: var(--bg-orange);
}

.checkbox-round-orange:checked {
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.checkbox-round-purple {
  border-color: var(--bg-grey-shade-1);
}

.checkbox-round-purple:checked {
  background-color: var(--txt-purple); /* Fully orange */
  border-color: var(--txt-main-black);
}

/* Info bar */

.info-bar {
  border-radius: 15px;
  padding: 32px 20px;
}

/* Header */

header .header-logo {
  max-width: 280px;
}

header .search-bar {
  padding: 20px 28px;
  font-size: 16px;
  color: var(--txt-grey);
  background: var(--bg-light-grey);
  border: none;
}
header .search-bar::placeholder {
  color: var(--txt-grey-hover);
  font-size: 16px;
}

header #search-btn {
  z-index: 4;
  border: none;
  background: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header .navbar .link.active.black-nav-txt-color {
  font-weight: 500;
  color: var(--txt-purple_shade-1);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
}

header .navbar .link.active.black-nav-txt-color:hover {
  color: var(--txt-purple_shade-1) !important;
}

header .search-ico {
  width: 30px;
}
header .search-ico:hover {
  opacity: 0.8;
}

/* Hamburger menu */

.hamburger-menu-toggle-wraper {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hamburger-menu-toggle-wraper .ham-line {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--ham-grey);
}

.hamburger-menu-toggle-wraper .ham-line::before,
.hamburger-menu-toggle-wraper .ham-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--ham-grey);
}
.hamburger-menu-toggle-wraper .ham-line::before {
  top: -10px;
}

.hamburger-menu-toggle-wraper .ham-line:after {
  top: 10px;
}

#bottom-nav {
  position: fixed;
  top: -100vh; /* Start off-screen */
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--bg-purple-shade-3);
  transition: top 0.3s ease-in-out;
  z-index: 6;
}
#bottom-nav > div {
  margin-top: -200px;
}

#bottom-nav.menu-open {
  top: 0;
}

#search-bar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 6;

  /* Initially hidden with opacity 0 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
}

#search-bar-mobile.show {
  visibility: visible; /* Make it visible */
  opacity: 1; /* Fade in */
  transition: opacity 0.3s ease, visibility 0s 0s; /* Control timing for fade-in */
}

#search-bar-mobile.d-none {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Control timing for fade-out */
}

#search-bar-mobile .search-wraper {
  max-width: 400px;
  width: 100%;
}

#search-bar-mobile .search-wraper input {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--white);
  border-radius: 0;
  color: var(--white);
}

#search-bar-mobile .search-wraper input::placeholder {
  color: var(--white);
}

#search-bar-mobile .search-close-btn img {
  max-width: 20px;
}

/* Breadcrumbs navigation */

.category-navigation li:last-child .cat-arrow {
  display: none;
}
/* Hero */

#hero .swiper .swiper-pagination-bullet {
  background: var(--white);
  width: 12px;
  height: 12px;
  opacity: 0.1;
}
#hero .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--white);
  width: 12px;
  height: 12px;
  opacity: 1;
}

#hero img {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 100%;
}
#hero .swiper-slide {
  height: 676px;
  position: relative;
}

/* Kodel musu kalbu mokykla section */

#kdl .spirale {
  position: absolute;
  top: -140px;
  right: -60px;
  z-index: 2;
}

.swiper-kodel .swiper-button-next:after,
.swiper-kodel .swiper-button-prev:after {
  font-size: 20px;
  color: var(--bg-grey);
}

.swiper-kodel .slider-arrow-wraper {
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
  z-index: 2;
}

/* Kreiptis section */
#kreiptis .man {
  position: absolute;
  right: 0;
  /* max-width: 415px; */
  bottom: 25px;
  /* width: 100%; */
  z-index: 4;
  /* max-width: 600px;
  top: 0;
  right: -175px;
  z-index: 4; */
}

#kreiptis .green-comment-box {
  position: absolute;
  max-width: 375px;
  top: 106px;
  right: -55px;
  z-index: 3;
}

#kreiptis .purple-comment-box {
  position: absolute;
  max-width: 250px;
  top: 55px;
  right: 135px;
  z-index: 2;
}

#kreiptis .purple-arrow {
  position: absolute;
  bottom: 50px;
  left: 300px;
}

#kreiptis .orange-lines {
  bottom: -20px;
  left: -34px;
}

/* Atsiliepimai section */
.swiper-atsiliepimai .avatar-img {
  margin-top: -70px;
}

.atilpieimai-nav {
  margin-top: 40px;
  top: 50%;
  transform: translateY(-50);
  left: 0;
  padding-left: 25px;
  padding-right: 25px;
}

#atsiliepimai .card-body {
  background: var(--bg-purpe-ligth);
  border-radius: 0 0 0 15px;
}

.comment-bottom {
  margin-left: auto;
  margin-top: -1px;
  width: 25px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
}

/* Musu klientai */

#musu-klientai .comment-bottom-orange {
  margin-right: auto;
  margin-top: -1px;
  width: 25px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 20% 100%, 0% 100%);
  background: var(--bg-orange);
}

#musu-klientai .musu-klientai-info {
  border-radius: 15px 15px 15px 0;
  margin: auto;
  max-width: 415px;
}

#musu-klientai .orange-circle {
  top: -8px;
  left: -8px;
}

#musu-klientai .small-green-box {
  top: -25px;
  right: -70px;
}

.info-bar .green-lines {
  bottom: -15px;
  left: -15px;
  z-index: -1;
}

/* Info bar */
#info-bar-id {
  height: 112px;
}

.info-bar {
  position: absolute;
  width: 100%;
  top: 50%;
}

/* Top bar */
.top-bar {
  top: -49px;
}
.watermark-logo {
  top: -5px;
  right: 24px;
}

#top-bar .purple-btn:hover {
  background: var(--bg-purple-btn);
}

/* Kursai page */
.kursas-card:hover .orange-spilare {
  opacity: 1;
}
.orange-spilare {
  top: -50px;
  right: -95px;
  opacity: 0;
}

/* Musu tikslai */
#musu-tikslai .orange-spilare {
  top: calc(-50% - 20px);
  left: calc(50% + 250px);
}
.comment-box-wraper {
  width: 154px;
  height: 169px;
}
.box-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mokymo organizavimo procesas */

.purple-circle-wraper {
  width: 98px;
  height: 67px;
}

/* Kontaktu tab */

.white-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: var(--white);
}

/* Info burbulas */

#info-burbulas .orange-circle {
  width: 80px;
  top: -5px;
  left: -5px;
}

/* Svarbi informacija */

.svarbi-info-scroll {
  display: flex;
  gap: 30px;
  white-space: nowrap;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.scroll-item {
  flex: 0 0 auto;
}
.svarbi-info-scroll p {
  white-space: normal !important;
  display: block !important;
}

/* Anglu kalbos lygis */
#anglu-klabos-lygis .akl-wraper {
  height: 912px;
}

#anglu-klabos-lygis .akl-comment-wraper {
  position: absolute;
  top: 175px;
  left: calc(50% - 120px);
  transform: translateX(-50%);
  height: 281px;
  z-index: 3;
}

#anglu-klabos-lygis .akl-comment-wraper.behind {
  z-index: 1 !important;
}

#anglu-klabos-lygis .lady-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#anglu-klabos-lygis .purple-arrow {
  position: absolute;
  top: 500px;
  left: calc(50% - 200px);
}

#anglu-klabos-lygis .ligth-p-box {
  position: absolute;
  top: 100px;
  left: calc(50% + 100px);
  z-index: 2;
}

/* Apie kursus */
#apie-kursus .purple-underline {
  bottom: -10px;
  left: 0;
}

/* Apie mus comment box */
#apie-mus-comment-box .main-container {
  padding-top: 50px;
  padding-bottom: 100px;
}
#apie-mus-comment-box .comment-box {
  margin-left: 10%;
}

#apie-mus-comment-box .single-orange-underline {
  top: 25px;
  left: -7px;
}

#apie-mus-comment-box .purple-arrow {
  margin-left: 32%;
}

#apie-mus-comment-box .comment-box-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#apie-mus-comment-box .purple-box {
  position: absolute;
  top: 0px;
  left: calc(50% + 180px);
}

/* Apie mokymus */

#apie-mokymus .book-crossed:before {
  content: "";

  position: absolute;
  height: 6px;
  left: -15%;
  width: 130%;
  top: 27px;
  background: var(--bg-green-shade-1);
}

/* Neradote */

#neradote .orange-spirale {
  position: absolute;
  top: -75px;
  right: 20px;
  transform: scaleX(-1) rotate(-30deg);
}

/* orange comment box with btn - Musu mokytojai */

#orange-comment-box-with-btn .orange-box-wraper {
  padding-top: 150px;
}
#orange-comment-box-with-btn .orange-box {
  margin-left: 10%;
}
#orange-comment-box-with-btn .orange-box-img {
  position: absolute;
  bottom: 0;
  right: 0px;
}
#musu-mokytojai-top .single-orange-underline {
  bottom: 0;
  left: -5px;
  max-width: 100px;
}

/* Musu mokytojai 2 columns */

#musu-mokytojai-two-columns .musu-klientai-info {
  border-radius: 15px 15px 15px 0;
  margin: auto;
  /* max-width: 415px; */
}

#musu-mokytojai-two-columns .comment-bottom-orange {
  margin-right: auto;
  margin-top: -1px;
  width: 25px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 20% 100%, 0% 100%);
  background: var(--bg-orange);
}

#musu-mokytojai-two-columns .orange-circle {
  top: -8px;
  left: -8px;
  max-width: 78px;
}

#musu-mokytojai-two-columns .small-green-box {
  top: -35px;
  right: -30px;
  max-width: 120px;
}

.swiper-mokytojai a {
  color: var(--txt-main-black);
}
.swiper-mokytojai a:hover p {
  opacity: 0.8;
}
.mokytojai-nav {
  top: 80px;
  transform: translateY(-50);
  left: 0;
  padding-left: 25px;
  padding-right: 25px;
}

/* Quiz */
#timer {
  color: var(--txt-main-black);
}

#timer.outline-purple-btn:hover {
  background: transparent;
  color: var(--txt-main-black) !important;
}

.question {
  border-bottom: 1px solid var(--bg-grey-shade-1);
}

.question .outline-green-btn:hover {
  background: var(--white) !important;
  color: var(--bg-green-shade-1) !important;
}

.question .option {
  min-width: 170px;
  text-align: center;
  border-radius: 15px;
  padding: 8px 12px;
  background: var(--bg-purple-shade-5);
  color: var(--white);
}
.question .option:hover {
  background: var(--bg-purple-btn);
}

.question .answer-input {
  border: none;
  border-bottom: 1px solid var(--bg-grey-shade-1);
  background: transparent;
  width: 40px;
  min-width: 160px;
  text-align: center;
  margin: 0 10px;
}

.question .cancel-wraper {
  width: 20px;
  height: 30px;
  margin-right: 10px;
}

.question .cancel-btn {
  font-size: 14px;
  cursor: pointer;
  color: red;
  position: absolute;
  top: 0;
}
footer img {
  max-width: 230px;
}

/* Media queries */
@media (max-width: 1650px) {
  .orange-spilare {
    right: 10px;
    top: -65px;
  }
}
@media (max-width: 1400px) {
  #kdl .spirale {
    right: 2%;
  }
  #key-info .fs-60 {
    font-size: 48px;
  }
  .info-bar {
    width: calc(100% - 24px);
    left: 12px;
  }
  #top-bar {
    width: calc(100% - 24px);
  }
}

@media (max-width: 1230px) {
  /* Kreiptis */
  header nav a.link {
    font-size: 16px;
  }

  #musu-klientai .small-green-box {
    top: -95px;
    right: -5%;
  }

  #kreiptis .green-comment-box {
    right: 0;
  }

  #kreiptis .purple-comment-box {
    right: 175px;
  }
}

@media (max-width: 1100px) {
  #kreiptis > div {
    border-radius: 0 !important ;
  }
}
@media (max-width: 992px) {
  #hero .swiper-slide {
    height: 500px;
  }

  #hero .swiper-slide .max-w-732,
  #hero .swiper-slide .max-w-943,
  #hero .swiper-slide p {
    max-width: 700px;
  }

  #top-bar .fs-48 {
    font-size: 36px !important;
  }
  #single-img-hero .min-h-495 {
    min-height: 400px !important;
  }
  #kas-kaip .max-w-200 {
    max-width: 100%;
  }
  #key-info .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 40px;
  }

  #musu-klientai .small-green-box {
    top: -80px;
    right: -5%;
    max-width: 150px;
  }

  #atsiliepimai .card-wraper.max-w-420 {
    max-width: 100%;
    padding-bottom: 20px;
  }

  #atsiliepimai .card-wraper {
    max-width: 600px !important;
    margin: auto;
  }
  #atsiliepimai .atsiliepimai-img {
    max-height: 250px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
  }

  #atsiliepimai .card-body {
    border-radius: 0 15px 0 0;
    border-top: none !important;
    border-left: 4px solid var(--bg-purple-btn);
  }
}
@media (max-width: 900px) {
  #kreiptis .green-comment-box {
    max-width: 300px;
  }
  #kreiptis .purple-comment-box {
    max-width: 150px;
    top: 80px;
    right: 230px;
  }
  #kreiptis .man {
    max-width: 300px;
    bottom: 120px;
    right: 40px;
  }
}

@media (max-width: 768px) {
  #hero .swiper-slide {
    height: 500px;
  }

  #hero .swiper-slide .max-w-732,
  #hero .swiper-slide .max-w-943,
  #hero .swiper-slide p {
    max-width: 700px;
  }

  #top-bar .fs-48 {
    font-size: 32px !important;
    text-align: start;
  }
  .watermark-logo {
    top: -10px;
  }
  #kreiptis > div {
    height: 400px;
  }
  #kreiptis .man,
  #kreiptis .green-comment-box,
  #kreiptis .purple-comment-box {
    display: none;
  }
  #kreiptis .purple-arrow {
    bottom: 60px;
    left: 85%;
    transform: translateX(-85%);
  }
  #key-info .grid-3 {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 12px;
    max-width: 400px;
  }
  .kursas-card .img-wraper img {
    border-radius: 15px 15px 0 0 !important;
  }

  .kursas-card .content-wraper {
    border: none !important;
    border-top: 4px solid var(--bg-purple-btn) !important;
    border-radius: 0 0 15px 15px !important;
  }

  #musu-klientai .image-wraper img {
    max-height: 400px;
    border-radius: 15px 15px 0 0;
  }
  #musu-klientai .content-wraper {
    border-radius: 0 0 15px 15px;
    border: none !important;
    border-top: 4px solid var(--bg-deep-purple) !important;
  }

  .orange-spilare {
    top: calc(100% - 65px);
    max-width: 120px;
    z-index: 3;
  }
  #apie-kursus .image-wraper {
    min-height: 400px !important;
  }
  #apie-kursus .image-wraper img {
    border-radius: 15px 15px 0 0;
  }

  #apie-kursus .content-wraper {
    border-radius: 0 0 15px 15px;
  }
  #apie-kursus .content-wraper h5 {
    border-radius: 0;
  }

  footer .mt-60 {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  #hero .swiper-slide {
    height: 400px;
  }

  #hero .swiper-slide .max-w-732,
  #hero .swiper-slide .max-w-943,
  #hero .swiper-slide p {
    max-width: 700px;
  }

  #top-bar .fs-48 {
    font-size: 24px !important;
  }
  #kreiptis > div {
    height: 300px;
  }
  .watermark-logo {
    top: -15px;
  }
  #kreiptis .purple-arrow {
    max-width: 100px;
    bottom: 20px;
  }
  #kreiptis .orange-lines {
    max-width: 100px;
    bottom: -14px;
    left: -10px;
  }
  #kdl .spirale {
    right: 2%;
    top: -80px;
  }

  #kursai .kursai-card img {
    border-radius: 15px 15px 0 0;
  }
  #kursai .kursai-card .content-wraper {
    border-radius: 0 0 0 15px;
    border: none !important;
    border-top: 4px solid var(--bg-purple-btn) !important;
  }

  #atsiliepimai .atsiliepimai-img {
    max-height: 250px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  #atsiliepimai .card-body {
    border-radius: 0 0 0 15px;
    border-left: none !important;
    border-top: 4px solid var(--bg-purple-btn) !important;
  }
  #atsiliepimai .fs-2 {
    font-size: 20px !important;
  }
  .info-bar {
    padding: 16px 20px;
  }
  #info-bar-id .fs-4 {
    font-size: 20px !important;
  }
  #musu-klientai .orange-circle {
    max-width: 73px;
  }

  header .header-logo {
    max-width: 170px;
  }

  #klientu-atsiliepimai .px-80 {
    padding-left: 12px;
    padding-right: 12px;
  }

  #apie-kursus .image-wraper {
    min-height: 300px !important;
  }
  footer .footer-contacts-main {
    margin-top: 30px;
  }
}

@media (max-width: 430px) {
  footer .footer-contact-wraper {
    flex-direction: column !important;
  }
  footer .footer-contact-wraper img {
    margin-bottom: 0 !important;
  }
  footer .footer-contacts-main {
    margin-top: 20px;
  }
}
/* Media utilities */
@media (max-width: 992px) {
  .fs-2 {
    font-size: 24px !important;
  }
  .fs-64 {
    font-size: 40px !important;
  }
}
@media (max-width: 768px) {
  .fs-4 {
    font-size: 20px !important;
  }
  .fs-56,
  .fs-54 {
    font-size: 48px !important;
  }
  .fs-64 {
    font-size: 32px !important;
  }
}
@media (max-width: 576px) {
  .fs-2 {
    font-size: 20px !important;
  }
  .fs-4 {
    font-size: 16px !important;
  }
  .fs-5 {
    font-size: 16px !important;
  }

  .fs-18 {
    font-size: 16px !important;
  }
  .fs-28 {
    font-size: 20px !important;
  }
  .fs-30 {
    font-size: 24px !important;
  }
  .fs-56,
  .fs-54 {
    font-size: 40px !important;
  }
  .fs-64 {
    font-size: 26px !important;
  }
  .mt-100 {
    margin-top: 60px !important;
  }
  .mb-100 {
    margin-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .main-btn {
    padding: 8px 5px;
  }
}
