:root {
  --white: #fff;
  --txt-main-black: #211926;
  --txt-black-shade-1: #4e4e4e;
  --txt-grey: #939393;
  --txt-grey-hover: #939393cc;
  --txt-purple: #6a398e;
  --txt-purple_shade-1: #8c66a7;
  --txt-light-purple: #a588ba;
  --txt-nav-black: #4e4e4e;
  --bg-light-grey: #f7f7f7;
  --bg-grey: #b3b3b3;
  --bg-orange: #fe715f;
  --bg-orange-shade-1: #ff705f;
  --bg-purple-btn: #8860a4;
  --bg-purpe-ligth: #c3b0d1;
  --bg-main-green: #4dcfc3;
  --bg-info-bar-green: #34c8bb;
  --bg-deep-purple: #794d98;
  --bg-purple-shade-1: #fdfaff;
  --bg-purple-shade-2: #6b398e;
  --bg-purple-shade-3: #f7f5f9;
  --bg-purple-shade-4: #d8d4db;
  --bg-green-shade-1: #00baaa;
  --bg-grey-shade-1: #dbdde1;
  --bg-grey-shade-2: #858585;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.slider-galler-container {
  max-width: 1560px;
  margin: auto;
}

.main-container {
  max-width: 1400px;
  margin: auto;
}
.medium-container {
  max-width: 1100px;
  margin: auto;
}
.lg-container {
  max-width: 1660px;
  margin: auto;
}

.container-1600 {
  max-width: 1600px;
  margin: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: inherit !important;
}
a.white {
  color: var(--white);
}

.cursor-pointer {
  cursor: pointer;
}

/* Absolute position */
.top-20 {
  top: 20px;
}

/* Font */

.ibm-serif {
  font-family: "IBM Plex Serif", serif;
}

/* Font sizes */

.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}

.fs-48 {
  font-size: 48px;
}
.fs-54 {
  font-size: 54px;
}

.fs-56 {
  font-size: 56px;
}
.fs-64 {
  font-size: 64px;
}

.fs-60 {
  font-size: 60px;
}
/* Font weight */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

/* Font colors and hover */

.black-nav-txt-color {
  color: var(--txt-nav-black);
}
.black-nav-txt-color:hover {
  color: var(--txt-purple_shade-1) !important;
}
.white-txt-color {
  color: var(--white);
}

.black-txt-color {
  color: var(--txt-main-black);
}

.black-txt-shade-1 {
  color: var(--txt-black-shade-1);
}

a.black-txt-shade-1:hover {
  color: var(--txt-purple_shade-1) !important;
}

.green-txt-shade-1 {
  color: var(--bg-green-shade-1);
}
.grey-txt-color {
  color: var(--txt-grey);
}

.grey-txt-color-hover:hover {
  color: var(--txt-grey-hover);
}

.grey-shade-2-txt {
  color: var(--bg-grey-shade-2);
}

.light-purple-txt-color {
  color: var(--txt-light-purple);
}

a.white-txt {
  color: var(--white);
}

a.white-txt:hover {
  color: var(--white) !important;
}

/* Backgrounds */

.light-grey {
  background: var(--bg-light-grey);
}
.orange {
  background: var(--bg-orange);
}

.orange-shade-1 {
  background: var(--bg-orange-shade-1);
}

.main-green {
  background: var(--bg-main-green);
}

.bar-green {
  background: var(--bg-info-bar-green);
}

.purple-light {
  background: var(--bg-purpe-ligth);
}

.purple {
  background: var(--bg-purple-btn);
}

.opacity-8:hover {
  opacity: 0.8;
}
.opacity-9:hover {
  opacity: 0.9;
}

.purple-shade-1 {
  background: var(--bg-purple-shade-1);
}
.purple-shade-2 {
  background: var(--bg-purple-shade-2);
}
.purple-shade-3 {
  background: var(--bg-purple-shade-3);
}
.purple-shade-4 {
  background: var(--bg-purple-shade-4);
}

/* Borders */
.border-10 {
  border-radius: 10px !important;
}
.border-15 {
  border-radius: 15px !important;
}

.border-top-15 {
  border-radius: 15px 15px 0 0;
}
.border-left-15 {
  border-radius: 15px 0 0 15px;
}
.border-rigth-15 {
  border-radius: 0 15px 15px 0;
}

.border-15-no-left {
  border-radius: 15px 15px 15px 0;
}

.border-15-top-right {
  border-radius: 0 15px 0 0;
}

.border-light-grey {
  border-color: var(--bg-light-grey);
}
.border-white {
  border-color: var(--white);
}

.border-purple {
  border-color: var(--bg-purple-btn) !important;
}

.border-orange-shade-1 {
  border-color: var(--bg-orange-shade-1) !important;
}
.border-deep-purple {
  border-color: var(--bg-deep-purple) !important;
}

.border-purple-shade-4 {
  border-color: var(-bg-purple-shade-4) !important;
}

.border-width-1 {
  border-width: 1px !important;
}

.border-width-2 {
  border-width: 2px !important;
}
.border-width-4 {
  border-width: 4px !important;
}
.border-width-6 {
  border-width: 6px !important;
}
/* Paddings */

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pb-100 {
  padding-bottom: 100px;
}

/* Margins */

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-100 {
  margin-bottom: 100px;
}

/* Max width */
.max-w-40 {
  max-width: 40px;
}
.max-w-46 {
  max-width: 46px;
}
.max-w-50 {
  max-width: 50px;
}
.max-w-72 {
  max-width: 72px;
}

.max-w-140 {
  max-width: 140px;
}
.max-w-170 {
  max-width: 170px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-240 {
  max-width: 240px;
}
.max-w-260 {
  max-width: 260px;
}
.max-w-280 {
  max-width: 280px;
}
.max-w-300 {
  max-width: 300px;
}
.max-w-350 {
  max-width: 350px;
}
.max-w-390 {
  max-width: 390px;
}
.max-w-440 {
  max-width: 440px;
}
.max-w-475 {
  max-width: 475px;
}

.max-w-600 {
  max-width: 600px;
}
.max-w-635 {
  max-width: 635px;
}
.max-w-680 {
  max-width: 680px;
}
.max-w-732 {
  max-width: 732px;
}

.max-w-850 {
  max-width: 850px;
}
.max-w-943 {
  max-width: 943px;
}

/* Min height */

.min-h-60 {
  min-height: 60px;
}
.min-h-80 {
  min-height: 80px;
}
.min-h-84 {
  min-height: 84px;
}
.min-h-270 {
  min-height: 270px;
}
.min-h-300 {
  min-height: 300px;
}
.min-h-354 {
  min-height: 354px;
}

.min-h-400 {
  min-height: 400px;
}

.min-h-495 {
  min-height: 495px;
}

.min-h-590 {
  min-height: 590px;
}

.max-h-300 {
  max-height: 300px;
}
.max-h-495 {
  max-height: 495px;
}

.max-h-650 {
  max-height: 650px;
}

/* Height */

.h-600 {
  height: 600px;
}
/* Z index */
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-justify-center {
  justify-items: center;
}

.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.gap-60 {
  gap: 60px;
}

.column-gap-20 {
  column-gap: 10px;
}
.row-gap-50 {
  row-gap: 50px;
}

/* Images */
.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* Buttons */

.main-btn {
  border-radius: 10px;
  padding: 12px 5px;
  text-align: center;
}

.small-btn {
  padding: 8px 4px;
  text-align: center;
}

.transparent-btn {
  background: transparent;
}

.white-hover-btn:hover {
  background: var(--white);
}

.outline-white-btn {
  border: 2px solid var(--white);
  color: var(--white);
}

.outline-white-btn:hover {
  background: var(--white);
  color: var(--txt-nav-black) !important;
}

.outline-green-btn {
  border: 2px solid var(--bg-green-shade-1);
  color: var(--bg-green-shade-1);
}
.outline-green-btn:hover {
  background: var(--bg-green-shade-1);
  color: var(--white) !important;
}

.outline-black-btn {
  border: 1px solid var(--txt-main-black);
  color: var(--txt-main-black);
}
.outline-black-btn:hover {
  border-color: var(--bg-purple-btn);
  background: var(--bg-purple-btn);
  color: var(--white) !important;
}

.outline-purple-btn {
  border: 1px solid var(--txt-purple);
  color: var(--txt-purple);
}
.outline-purple-btn:hover {
  border: 1px solid var(--txt-purple);
  background: var(--txt-purple);
  color: var(--white) !important;
}

.purple-btn {
  background: var(--bg-purple-btn);
}

.purple-btn:hover {
  background: var(--bg-deep-purple);
}

.white-btn-txt {
  color: var(--white);
}
.white-btn-txt:hover {
  color: var(--white) !important;
}

/* Inputs */

.grey-input {
  border: 2px solid var(--bg-grey-shade-1);
  border-radius: 10px;
  padding: 12px 22px;
  width: 100%;
  flex: 1;
}

.grey-input:focus-visible {
  outline: none;
  border-color: var(--txt-purple);
}

.orange-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--bg-orange);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.orange-radio:checked {
  background-color: var(--bg-orange); /* Fully orange */
  border-color: var(--bg-orange);
}

/* Info bar */

.info-bar {
  border-radius: 15px;
  padding: 32px 20px;
}

/* Header */

header .header-logo {
  max-width: 280px;
}

header .search-bar {
  padding: 20px 28px;
  font-size: 16px;
  color: var(--txt-grey);
  background: var(--bg-light-grey);
  border: none;
}
header .search-bar::placeholder {
  color: var(--txt-grey-hover);
  font-size: 16px;
}

header #search-btn {
  z-index: 4;
  border: none;
  background: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header .navbar .link.active.black-nav-txt-color {
  font-weight: 500;
  color: var(--txt-purple_shade-1);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 4px;
}

header .navbar .link.active.black-nav-txt-color:hover {
  color: var(--txt-purple_shade-1) !important;
}

/* Breadcrumbs navigation */

.category-navigation li:last-child .cat-arrow {
  display: none;
}
/* Hero */

#hero .swiper .swiper-pagination-bullet {
  background: var(--white);
  width: 12px;
  height: 12px;
  opacity: 0.1;
}
#hero .swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--white);
  width: 12px;
  height: 12px;
  opacity: 1;
}

#hero img {
  position: absolute;
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 100%;
}
#hero .swiper-slide {
  height: 676px;
  position: relative;
}

/* Kodel musu kalbu mokykla section */

#kdl .spirale {
  position: absolute;
  top: -140px;
  right: -60px;
  z-index: 2;
}

.swiper-kodel .swiper-button-next:after,
.swiper-kodel .swiper-button-prev:after {
  font-size: 20px;
  color: var(--bg-grey);
}

.swiper-kodel .slider-arrow-wraper {
  width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin: auto;
  z-index: 2;
}

/* Kreiptis section */
#kreiptis .man {
  position: absolute;
  max-width: 600px;
  top: 0;
  right: -175px;
  z-index: 4;
}

#kreiptis .green-comment-box {
  position: absolute;
  max-width: 375px;
  top: 106px;
  right: -55px;
  z-index: 3;
}

#kreiptis .purple-comment-box {
  position: absolute;
  max-width: 250px;
  top: 55px;
  right: 135px;
  z-index: 2;
}

#kreiptis .purple-arrow {
  position: absolute;
  bottom: 50px;
  left: 300px;
}

#kreiptis .orange-lines {
  bottom: -20px;
  left: -34px;
}

/* Atsiliepimai section */
.swiper-atsiliepimai .avatar-img {
  margin-top: -70px;
}

.atilpieimai-nav {
  margin-top: 40px;
  top: 50%;
  transform: translateY(-50);
  left: 0;
  padding-left: 25px;
  padding-right: 25px;
}

#atsiliepimai .card-body {
  background: var(--bg-purpe-ligth);
  border-radius: 0 0 0 15px;
}

.comment-bottom {
  margin-left: auto;
  margin-top: -1px;
  width: 25px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
}

#atsiliepimai .atsiliepimai-img {
  max-height: 310px;
  object-fit: cover;
}

/* Musu klientai */

#musu-klientai .comment-bottom-orange {
  margin-right: auto;
  margin-top: -1px;
  width: 25px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 20% 100%, 0% 100%);
  background: var(--bg-orange);
}

#musu-klientai .musu-klientai-info {
  border-radius: 15px 15px 15px 0;
  margin: auto;
  max-width: 415px;
}

#musu-klientai .orange-circle {
  top: -8px;
  left: -8px;
}

#musu-klientai .small-green-box {
  top: -25px;
  right: -70px;
}

.info-bar .green-lines {
  bottom: -15px;
  left: -15px;
  z-index: 1;
}

/* Info bar */
#info-bar-id {
  height: 112px;
}

.info-bar {
  position: absolute;
  width: 100%;
  top: 50%;
}

/* Top bar */
.top-bar {
  top: -49px;
}
.watermark-logo {
  top: -5px;
  right: 24px;
}

#top-bar .purple-btn:hover {
  background: var(--bg-purple-btn);
}

/* Kursai page */

.orange-spilare {
  top: 255px;
  right: -95px;
}

/* Musu tikslai */
#musu-tikslai .orange-spilare {
  top: calc(-50% - 20px);
  left: calc(50% + 250px);
}
.comment-box-wraper {
  width: 154px;
  height: 169px;
}
.box-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mokymo organizavimo procesas */

.purple-circle-wraper {
  width: 98px;
  height: 67px;
}

/* Kontaktu tab */

.white-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: var(--white);
}

/* Info burbulas */

#info-burbulas .orange-circle {
  width: 80px;
  top: -5px;
  left: -5px;
}

/* Svarbi informacija */

.svarbi-info-scroll {
  display: flex;
  gap: 30px;
  white-space: nowrap;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.scroll-item {
  flex: 0 0 auto;
}
.svarbi-info-scroll p {
  white-space: normal !important;
  display: block !important;
}

/* Anglu kalbos lygis */
#anglu-klabos-lygis .akl-wraper {
  height: 912px;
}

#anglu-klabos-lygis .akl-comment-wraper {
  position: absolute;
  top: 175px;
  left: calc(50% - 120px);
  transform: translateX(-50%);
  height: 281px;
  z-index: 3;
}

#anglu-klabos-lygis .akl-comment-wraper.behind {
  z-index: 1 !important;
}

#anglu-klabos-lygis .lady-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#anglu-klabos-lygis .purple-arrow {
  position: absolute;
  top: 500px;
  left: calc(50% - 200px);
}

#anglu-klabos-lygis .ligth-p-box {
  position: absolute;
  top: 100px;
  left: calc(50% + 100px);
  z-index: 2;
}

/* Apie kursus */
#apie-kursus .purple-underline {
  bottom: -10px;
  left: 0;
}

/* Apie mus comment box */
#apie-mus-comment-box .main-container {
  padding-top: 50px;
  padding-bottom: 100px;
}
#apie-mus-comment-box .comment-box {
  margin-left: 10%;
}

#apie-mus-comment-box .single-orange-underline {
  top: 25px;
  left: -7px;
}

#apie-mus-comment-box .purple-arrow {
  margin-left: 32%;
}

#apie-mus-comment-box .comment-box-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#apie-mus-comment-box .purple-box {
  position: absolute;
  top: 0px;
  left: calc(50% + 180px);
}

/* Apie mokymus */

#apie-mokymus .book-crossed:before {
  content: "";

  position: absolute;
  height: 6px;
  left: -15%;
  width: 130%;
  top: 27px;
  background: var(--bg-green-shade-1);
}

/* Neradote */

#neradote .orange-spirale {
  position: absolute;
  top: -75px;
  right: 20px;
  transform: scaleX(-1) rotate(-30deg);
}
